.custom-form-field {
  width: 100%;
  margin-bottom: 16px;
}

button {
  margin-top: 16px;
}

.task-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  padding-top: 50px;
}

.task-form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
}

.form-title {
  text-align: center;
  padding-bottom: 20px;
}

.close-icon {
  order: -1;
}
